.header {
    max-width: 880px;
    width: 100%;
    position: relative;
    padding-top: 45px;
    padding-bottom: 41px;
    margin: auto;
    border-bottom: 1px solid #545454;
}
@media screen and (max-width: 320px) {
.header {
    display: flex;
    padding-top: 28px;
    height: 24px;
    margin: auto;
}
.header__line {
    padding-top: 56px;
}
}