.modal {
    visibility: none;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 0 19;
    font-family: 'Inter', sans-serif;
    display: flex;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.5s linear;
}
.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    max-width: 430px;
}
.modal__close {
    background-image: url('../images/close-icon.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.modal__close:hover {
    opacity: .6;
}
.modal__heading {
    margin-top: 0px;
    margin-bottom: 59px;
    color: #000;
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 900;
}
.modal__form {
    display: flex;
    gap: 29.74px;
    flex-direction: column;
    width: 358px;
}
.modal__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
}
::placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
.modal__button {
    background-color: #000;
    color: #fff;
    margin-top: 19px;
    height: 50.15px;
    border: none;
    cursor: pointer;
}
.modal__button:hover {
    opacity: .6;
}
.modal__container-image {
    display: grid;
    place-items: center;
    max-height: 75vh;
    max-width: 75vw;
    margin: auto;
}
  .modal__close-image {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 120;
    top: -10px;
  }
  .modal__error_visible {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
    margin-left: 0;
    transition: opacity 0.3s ease;
    border: none;
    display: flex;
}
.modal__button_disabled {
    opacity: .6;
}
.modal__input_error {
    border-bottom: 1px solid #ff0000;
}
  .modal__error:last-of-type {
    padding-top: 5px;
  }
@media screen and (max-width: 320px) {
    .modal__form {
        max-width: 238px;
    }
    .modal__container {
        margin-top: 135px;
        max-width: 282px;
        padding: 22px;
    }
    .modal__heading {
        font-size: 18px;
        line-height: 21.78px;
    }
    .modal__close {
        max-width: 26px;
        max-height: 26px;
        position: absolute;
        left: 88%;
        top: -13.62%;
    }
}